* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  background: var(--background, #ccc);

  svg {
    width: 100%;
    height: 100%;
  }
  svg * {
    /*    Removes little gaps between the shapes */
    shape-rendering: geometricPrecision;
  }
}

.texture {
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
}
